@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body, span, div, li, a, button, label, p {
  font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
}

.tbpad {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

label {
  font-size: 1.1rem !important;
}

.bold {
  font-weight: bold;
}

section,
.texto-blanco {
  color: white;
}

p {

  letter-spacing: 0.03rem;
}

.texto-negro {
  color: #0a0a0a;
}

.menu > li > a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.menu > li > a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.difference {
  mix-blend-mode: difference;
}

.rsvp-btn {
  text-transform: uppercase;
  font-weight: bold;
}

label {
  color: white;
  font-weight: bold;
}

.alert:hover {
  color: #91362C;
  border-color: #91362C;
}

#menu {
  color: white;

}

ol {
  color: #0a0a0a;
  font-size: 1.1em;
  font-weight: bold;
}

ol > li > p {
  font-weight: normal;
}

.responsive-embed {
  height: 100%;
  padding-bottom: 0;
}

#boda {
  color: #0a0a0a;
}

.text-uppercase {
  text-transform: uppercase;
}

.padding-1 {
  padding: 1rem;
}

.mapa {
  margin-top: 0;
  height: 100%;
}



#top-section {
  background: linear-gradient(121deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 49%, rgba(255, 255, 255, 0.1) 100%), url('../img/header.jpg') no-repeat scroll center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  padding-top: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#rsvpModal {
  background: #A56051 url("../img/texture-1.png");
}


#rsvp {
  position: relative;
  background: linear-gradient(121deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 49%, rgba(255, 255, 255, 0.1) 100%), url('../img/fotofinalc.jpg') right center scroll no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#rsvp-content {
  padding-bottom: 6rem;
  padding-left: 9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

#top-text {
  padding-top: 1rem;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.vestimenta {

  background: #F0E5DC;

}
 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.texto-narnja {
  color: #D88880;
}
.fondo-narnja, #mesa{
  background-color: #D88880;
}
.vhr {
  border: none;
  border-left: 1px solid #D88880;
  height: 2.5rem;
  width: 2px;
}

#hash {
  font-weight: bold;
  position: absolute;
  letter-spacing: 0.2em;
  color: white;
  top: 20rem;
  left: 3rem;
  transform: rotate(-90deg);
  transform-origin: top left;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.animate {
  transition: 1.5s; /* THE DURATION */
}

.menu.vertical > li > a {
  color: white;
}

#imagen-arco {
  background: #6F634B url("../img/PAG_BODA-04.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#imagen-col {
  background: #6F634B url("../img/bg-69.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.off-canvas {
  background-image: url("../img/texture-1.png");
}

.firmas {
  max-width: 450px;
}
#inv-sm{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
/* Small only */
@media screen and (max-width: 39.9375em) {

  #sobre, #sobre-en {
    background: none;
    /*background: #A56051 url('../img/inv.jpg') left center no-repeat;*/
    /*-webkit-background-size: contain;*/
    /*-moz-background-size: contain;*/
    /*-o-background-size: contain;*/
    /*background-size: contain;*/

  }



  .firmas {
    max-width: 360px;
  }

  #hash {
    top: 17rem;
    left: 1rem;

  }

  #top-text {
    padding-top: 0;
  }


  #rsvp {

    background: linear-gradient(121deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('../img/fotofinalm2.jpg') center center scroll no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #rsvp-content {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 2rem;
    padding-left: 0;
    z-index: 5;
  }

  #imagen-arco,#imagen-col {
    min-height: 100vh;

  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  #imagen-arco {
  background: #6F634B url("../img/PAG_BODA-04.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    #imagen-col {
  background: #6F634B url("../img/bg-69.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  #vest-m {
    border-right: 1px solid #D88880;
  }

  .mapa {
    height: 275px;
  }

  .responsive-embed {
    height: 275px !important;
  }

  .sobre-content {
    position: relative;
    height: 500px;

  }

  .sobre-content > div {
    position: absolute;
    /*top: 50%;*/
    height: 150px;
    /*margin-top: -50px;*/
    text-align: left;
    /*vertical-align: middle;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #top-section {
  background: linear-gradient(121deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 49%, rgba(255, 255, 255, 0.1) 100%), url('../img/header.jpg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  padding-top: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #sobre {
  background: #A56051 url('../img/sobre_m.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

#sobre-en {
  background: #A56051 url('../img/sobre_m.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}
}

/* Large and up */
@media screen and (min-width: 64em) {
  .mapa {
    margin-top: 8rem;
    width: 100%;
    height: auto;
  }
  #sobre {
  background: #A56051 url('../img/nueva_fecha.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

#sobre-en {
  background: #A56051 url('../img/nueva_fecha.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
